modules = ["java", "java-17"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run Microservices"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Java Version Check"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Build Project"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run Zipkin Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run Zipkin"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run Eureka Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run All Tests"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Check Test Status"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Build and Run Microservices"

[[workflows.workflow]]
name = "Run Microservices"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "mvn clean install && java -jar eureka-server/target/eureka-server-1.0-SNAPSHOT.jar & sleep 30 && java -jar config-server/target/config-server-1.0-SNAPSHOT.jar & sleep 30 && java -jar zipkin.jar & sleep 30 && java -jar etl-service/target/etl-service-1.0-SNAPSHOT.jar & java -jar cdc-service/target/cdc-service-1.0-SNAPSHOT.jar & java -jar zuul-gateway/target/zuul-gateway-1.0-SNAPSHOT.jar"
waitForPort = 9411

[[workflows.workflow]]
name = "Java Version Check"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "java -version"

[[workflows.workflow]]
name = "Build Project"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "mvn clean install"

[[workflows.workflow]]
name = "Run Zipkin Server"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "curl -sSL https://zipkin.io/quickstart.sh | bash -s && java -jar zipkin.jar"
waitForPort = 9411

[[workflows.workflow]]
name = "Run Zipkin"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "java -jar zipkin.jar --server.port=9412"
waitForPort = 9412

[[workflows.workflow]]
name = "Run Eureka Server"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "java -jar eureka-server/target/eureka-server-1.0-SNAPSHOT.jar"
waitForPort = 8761

[[workflows.workflow]]
name = "Run All Tests"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "mvn test"

[[workflows.workflow]]
name = "Check Test Status"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "mvn test"

[[workflows.workflow]]
name = "Build and Run Microservices"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "mvn clean install && java -jar eureka-server/target/eureka-server-1.0-SNAPSHOT.jar & sleep 30 && java -jar config-server/target/config-server-1.0-SNAPSHOT.jar & sleep 30 && java -jar etl-service/target/etl-service-1.0-SNAPSHOT.jar & java -jar cdc-service/target/cdc-service-1.0-SNAPSHOT.jar & java -jar zuul-gateway/target/zuul-gateway-1.0-SNAPSHOT.jar"
waitForPort = 8761

[deployment]
run = ["sh", "-c", "mvn clean install && java -jar eureka-server/target/eureka-server-1.0-SNAPSHOT.jar & sleep 30 && java -jar config-server/target/config-server-1.0-SNAPSHOT.jar & sleep 30 && java -jar zipkin.jar & sleep 30 && java -jar etl-service/target/etl-service-1.0-SNAPSHOT.jar & java -jar cdc-service/target/cdc-service-1.0-SNAPSHOT.jar & java -jar zuul-gateway/target/zuul-gateway-1.0-SNAPSHOT.jar"]

[[ports]]
localPort = 8761
externalPort = 3001

[[ports]]
localPort = 9411
externalPort = 80

[[ports]]
localPort = 9412
externalPort = 3000
